

/*                 header                 */

        h1 {
            color: darkred;
        }
/*                 The Game Board                 */

        .gameBoard {
            display: flex;
            justify-content: space-evenly;
        }

        .avatarCPU {
            height: 200px;
            width: 200px;
        }

        .character {
            display: none;
        }

    
